{% extends "base.html" %}

{% block content %}
    {{ status}}
    <form action="{{ url_for('contact') }}" method="POST">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="subject" class="form-control" id="subject" placeholder="Enter subject" name="subject">
        </div>
        <div class="form-group">
            <label for="messange ">Message</label>
            <input type="messange " class="form-control" id="messange " placeholder="Enter messange " name="messange">
        </div>
        <div class="form-group">
            <label for="seder">Sender</label>
            <input type="email" class="form-control" id="seder " placeholder="Enter seder " name ="sender">
        </div>

        <div class="form-group">
            <label for="recipients ">Rec</label>
            <input type="email" class="form-control" id="recipients " placeholder="Enter recipients" name="recipients">
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Sent</button>
    </form>
{% endblock %}